/* Light theme colors */
.light {
  --primary: #fff;
  --accent: #dce4ea;
  --secondary: #f1f5f9;
  --tertiary: #58677d;
  --quaternary: #18212f;
  --positive: #21ba45;
  --negative: #c10015;
  --info: #31ccec;
  --warning: #f2c037;
}

/* Dark theme colors */
.dark {
  --primary: #1b253b;
  --accent: #1b2334;
  --secondary: #1e293b;
  --tertiary: #b7c0ca;
  --quaternary: #fff;
  --positive: #21ba45;
  --negative: #c10015;
  --info: #31ccec;
  --warning: #f2c037;
}

/* Brand theme colors */
.brand {
  --primary: #b0e8cd;
  --accent: #066333;
  --secondary: #b0c9a8;
  --tertiary: #434f30;
  --quaternary: #64cb7c;
  --positive: #21ba45;
  --negative: #c10015;
  --info: #31ccec;
  --warning: #f2c037;
}
