.light {
  --primary: #FFF;
  --secondary: #F1F5F9;
  --tertiary: #475569;
  --quaternary: #1E293B;
}

.dark {
  --primary: #1b253b;
  --secondary: #1E293B;
  --tertiary: #CBD5E1;
  --quaternary: #FFF;
}
