@font-face {
  font-weight: 400;
  font-family: 'Material Icons';
  font-style: normal;
  src: url('~/assets/icons/material/material-icons.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-weight: 400;
  font-family: 'Material Icons Outline';
  font-style: normal;
  src: url('~/assets/icons/material/material-icons-outline.woff2') format('woff2');
  font-display: block;
}
